
footer
    .container_12
        .grid_12
            .socials
                a.fa.fa-facebook(href='#')
                a.fa.fa-twitter(href='#')
                a.fa.fa-google-plus(href='#')
            .copy
                | Your Trip (c) 2014 
                a(href='#') Privacy Policy
                |  | Website Template Collect from 
                a(href='#', rel='nofollow') moobnn.com
