
footer
    .container_12
        .grid_12
            .socials
                a.fa.fa-facebook(href='javascript:;')
                a.fa.fa-twitter(href='javascript:;')
                a.fa.fa-google-plus(href='javascript:;')
            .copy
                | @火星云 2018
                a(href='javascript:;')
                | Designed By Mars-IT All Rights Reserved
                a(href='javascript:;', rel='nofollow') 桂ICP备15003644号-2
