
header
	.container_12
		.grid_12
			.menu_block
				nav.horizontal-nav.full-width.horizontalNav-notprocessed
					ul.sf-menu
						li.current
							a(href='/') 关于我们
						li
							a(href='hot') 热门旅游
						li
							a(href='discount') 特别优惠
						li
							a(href='blog') 博客
						li
							a(href='contacts') 联络我们
				.clear
		.grid_12
			h1
				a(href='index.html')
					img(src='/public/images/logo.png', alt='Your Happy Family')

block script
	script.

